/* center */
*
{
      color: aqua;
      background-color: gray;
}

body{
      display: flex;
      flex-direction: column;
      justify-content: right;
      border-radius: 10px;
}

.contaner{
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 1200px;
      min-width: 600px;
      border-radius: 8px;
      border: 4px solid blue;
      padding: 1%;
}

.rede{
      color: red;
}


/* div{
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 1200px;
      min-width: 600px;
      border-radius: 8px;
      border: 4px solid red;
      margin: 2%;
} */

#CardID{
      border: 5px solid palevioletred;
}

.userimg{
      max-width: fit-content;
      width: 300px;
}
