.as> h1:hover
{
   transform: scale(1.2);
   background-color: aqua;
}


.as> i:hover
{
   transform: scale(1.2);
   background-color: aqua;
}


*{
   margin: 0;
   margin: auto;
}
h1
{
   transition: all 0.5s;
   margin: 100px;
   cursor: pointer;
   position: absolute;
}

i
{
   transition: all 0.5s;
   margin: 150px;
   cursor: pointer;
   position: absolute;
}



.as
{
   background-color: yellow;
   position: absolute;
   padding: 50px;
   border: 2px solid black;
}