*
{
    margin: 0;
    padding: 0;
    color: aliceblue;
    font-family: 'Open Sans', sans-serif;
}

    /* <---------- aaaa ----------> */



body
{
    background-color: rgb(35, 36, 54);
    box-sizing: border-box;
}

/* <------------- main box ko backgroung img set -------------> */

.main-box
{
    background-image: url(img/website/bg\ main-box.jpg);
    background-size: cover;
    height: 100vh;
}

/* <----------btn1 code likha jaa rha h yaha se ----------> */

.btn1 i
{
    font-size: 30px;
    color: aqua;
    position: absolute;
    left: 20px;
    line-height: 60px;
    cursor: pointer;
    transition: 1s ease;
}

.btn1{ cursor: pointer;}


/* <---------- yaha se side-bar ka code likha rha hu ---------->*/

.sidebar-menu
{
    position: fixed;
    left: -360px;
    width: 350px;
    height: 100vh;
    border-radius: 0px 20px 20px 0px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.2);
    transition: all 0.5s;
}


    /* sidebar menu ke andar wala logo ka code */

.sidebar-menu> .logo
{
    position: absolute;
    width: 100%;
    line-height: 60px;
    left: -35px;
    border: 10px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.2);
} 

.sidebar-menu> .logo> a
{
    position: absolute;
    left: 90px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}


/* <---------- sidebar menu ke andar jo menu hai uska code likh rha hu ----------> */

.sidebar-menu> .btn2 i
{
    color: aqua;
    font-size: 40px;
    position: absolute;
    top: 7px;
    left: 300px;
    cursor: pointer;
}


/* <---------- sidebar menu ke andar jo menu hai uska code likh rha hu ----------> */

.sidebar-menu> .menu
{
    position: absolute;
    width: 100%;
    top: 80px;
    /* left: -100px; */
}


/* <---------- sidebar menu list ka code likha jaa rha hai ----------> */


.sidebar-menu> .menu li
{
    padding: 15px 20px;
    margin: 10px 0px 0px 0px;
    list-style: none;
    position: absolute;
    /* left: -200px; */
    opacity: 0;
}


/*  sidebar menu llist ke andar anchore tag and icon ko style code  */


.sidebar-menu .menu i,a
{
    color: white;
    font-size: 20px;
    text-decoration: none;
} 

.sidebar-menu .menu i
{
    padding: 0px 15px 0px 0px;
}

/* yaha se foooter yani ki social media ka code */


.sidebar-menu> .social-media
{
    opacity: 0.8;
    position: absolute;
    left: 100px;
    bottom: 50px;
}


.sidebar-menu> .social-media i
{
    padding: 0px 10px 0px 10px;
}



/* <------------------> NOW LET'S CREATE OWN CSS FUNCTIONS <------------------> */


#check
{
    display: none;
}

.sidebar-menu .menu li:hover
{
    box-shadow: 0px 0px 4px rgba(220, 220, 220, 1.0);
    transition: all 0.5s;
}


/* button 1 par hover effect */


.sidebar-menu> .btn2 i:hover
{
    transform: scale(1.2);
    transition: all 0.5s;
}

/* list kko manualy padding dena top se */

.sidebar-menu> .menu .li1
{
    top: 0px;
    left: -120px;
}


.sidebar-menu> .menu .li2
{
    top: 65px;
    left: -100px;
}

.sidebar-menu> .menu .li3
{
    top: 130px;
    left: -80px;
}

.sidebar-menu> .menu .li4
{
    top: 195px;
    left: -60px;
}

.sidebar-menu> .menu .li5
{
    top: 260px;
    left: -40px;
}

.sidebar-menu> .menu .li6
{
    top: 325px;
    left: -20px;
}

.sidebar-menu> .menu .li7
{
    top: 390px;
    left: -10px;
}





#check:checked ~ .sidebar-menu
{
    left: 0;
}


#check:checked ~ .btn1 i
{
    display: none;
    animation: 1s;
}


#check:checked ~ .sidebar-menu> .menu> ul> li
{
    height: 20px;
    width: 250px;
    border-radius: 10px;
    /* border: 1px solid rgba(80, 150, 255, 0.2); */
    box-shadow: 0px 0px 5px 2px rgba(80, 150, 255, 0.4);
    left: 20px;
    opacity: 1;

    

}

























